<div>
    <div>
        <a href="./">Express movies</a>
        &nbsp;
        <a href="/movies">Film</a>
        &nbsp;
        <a href="/movie-search">Recherche</a>
        &nbsp;
        <a href="/login">Login</a>
    </div>
</div>