<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
    <body>

        <h1>Express Movies: le site de cinéphiles</h1>
        <div>Film ou série</div>

        <% include ./partials/footer.ejs %>
    </body>
</html>