<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>

    <body>
        <% include ./partials/header %>

        <div class="central">
            <h1>Espace membre</h1>
            <br>
            <div id="login">
                <form>
                    <legend>Veuillez saisir vos identifiants</legend>
                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                    <label for="password">mot de passe</label>
                    <input type="password" name="password" id="password">
                    <button type="submit">Connexion</button>
                </form>
            </div>
            <br>
            <div id="profile" style="display:none">
                <button id="display-payload">voir le payload</button>
                <button id="disconnectBtn">déconnexion</button>
                <div id="decoded-payload"></div>
                <div>
                    <a href="#" id="member-only">expace membre</a>
                    <div id="member-data"></div>
                </div>
            </div>
        </div>

        <footer>
            <% include ./partials/footer %>
        </footer>
        <script>
            var form = document.querySelector('form');
            form.addEventListener('submit', loginUser);

            var loginArea = document.querySelector('#login');
            var profileArea = document.querySelector('#profile');

            var displayPayloadBtn = document.querySelector('#display-payload');
            displayPayloadBtn.addEventListener('click', displayPayload);
            var disconnectBtn = document.querySelector('#disconnectBtn');
            disconnectBtn.addEventListener('click', disconnect);
            var connectionLinkArea = document.querySelector('#connectionLink');
            handleFormDisplay();

            function loginUser() {
                loginUserWithXHR(event);
            }

            function loginUserWithXHR(event) {
                event.preventDefault();
                console.log('loginUserWithXHR');

                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/login', true);

                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function () {
                    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){

                        var token = xhr.response;
                        localStorage.setItem('token', token);
                        switchToLoggedInMode();
                        form.reset();
                    }
                }

                var email = document.getElementById('email').value;
                var password = document.getElementById('password').value;
                var payload = "email=" + email + "&" + "password=" + password;
                xhr.send(payload);
            }

            function handleFormDisplay() {
                if(localStorage.getItem('token')){
                    switchToLoggedInMode();
                } else {
                    switchToLoggedOutMode();
                }
            }

            function switchToLoggedInMode(){
                loginArea.style.display = 'none';
                profileArea.style.display = 'block';
                connectionLinkArea.innerHTML = '<a href="/login">Déconnexion</a>';
            }

            function switchToLoggedOutMode (){
                loginArea.style.display = 'block ';
                profileArea.style.display = 'none ';
            }

            function displayPayload(){
                var payload = parseJwt();
                var decodedPayloadDiv = document.querySelector('#decoded-payload');
                decodedPayloadDiv.innerHTML = '<pre>' + JSON.stringify(payload) + '</pre>';
            }

            function parseJwt(){
                var tokenFromStorage = localStorage.getItem('token');

                if(tokenFromStorage){
                    var base64Payload = tokenFromStorage.split('.')[1];
                    return JSON.parse(window.atob(base64Payload));
                } else {
                    return 'not token to parse';
                }
            }

            function disconnect(){
                switchToLoggedOutMode();
                localStorage.removeItem('token');
            }

            (function(exports, d) {
                function domReady(fn, context) {

                    function onReady(event) {
                        d.removeEventListener("DOMContentLoaded", onReady);
                        fn.call(context || exports, event);
                    }

                    function onReadyIe(event) {
                        if (d.readyState === "complete") {
                            d.detachEvent("onreadystatechange", onReadyIe);
                            fn.call(context || exports, event);
                        }
                    }

                    d.addEventListener && d.addEventListener("DOMContentLoaded", onReady) ||
                    d.attachEvent      && d.attachEvent("onreadystatechange", onReadyIe);
                }

                exports.domReady = domReady;
            })(window, document);

            domReady(function() {
                console.log('DOM is ready :)');

                var connectionLinkArea = document.querySelector('#connectionLink');
                testUserStatus();

                function testUserStatus() {
                    if(localStorage.getItem('token')) {
                        displayLoggedInView();
                    } else {
                        displayLoggedOutView();
                    }
                }

                function displayLoggedInView() {
                    connectionLinkArea.innerHTML = '<a href="/login">Déconnexion</a>';
                }

                function displayLoggedOutView() {
                    connectionLinkArea.innerHTML = '<a href="/login">Connexion</a>';
                }
            });
        </script>
    </body>
</html>