<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Listes des Movies</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header.ejs %>
            <h1><%= title %></h1>
            <div class="french-movies">
                <% for(movie of movies) { %>
                    <div><%= movie.movieTitle %> (<%= movie.movieYear %>)</div>
                <% } %>
            </div>
            <br/>
            <div>
                <form action='/movies' method="post">
                    <label for="movieTitle"></label>
                    <input type="text" name="movieTitle" id="movieTitle">
                    <label for="movieYear"></label>
                    <input type="text" name="movieYear" id="movieYear">
                    <button type="submit">Ajouter</button>
                </form>
            </div>
        </div>
        <% include ./partials/footer.ejs %>
        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', addMovie);

            function addMovie(event) {
                event.preventDefault();

                if(fetch) {
                    fetch('/movies', {
                        method: 'POST',
                        body: new FormData(form)
                    })
                    .then(checkStatus)
                    .catch(function (error) {
                        console.error('request failed', error);
                    })
                } else {
                    //Jquery ou XHR
                }
            }

            function checkStatus(response) {
                if (response.status >= 200 && response.status < 300 ) {
                    let newMovieDiv = document.createElement('div');
                    const movieTitle = document.getElementById('movieTitle').value;
                    const movieYear = document.getElementById('movieYear').value;
                    newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;
                    document.querySelector('.french-movies').appendChild(newMovieDiv);
                    form.reset();
                }
            }
        </script>
    </body>
</html>