<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Listes des Movies</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header.ejs %>
            <h1>Votre recherche sur <em>The Movie Database</em></h1>
            <div >
                <input type="text" name="term" id="term" placeholder="titre de film">
                <button id="btnSearch">chercher</button>
            </div>

            <div id="results">

            </div>
        </div>
        <% include ./partials/footer.ejs %>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const API_KEY = "464d987e18872d3efa196954a2778c05";
            const term = document.querySelector("#term");
            const btnSearch = document.querySelector("#btnSearch");
            btnSearch.addEventListener("click", search);
            let resultDiv = document.querySelector('#results');

            function search(){
                const query = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=${term.value}&language=fr-FR`;
                axios.get(query)
                    .then(function (response) {
                        console.log(response);
                })
            }
        </script>
    </body>
</html>