<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Listes des Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <% include ./partials/header.ejs %>
    <h1>Movies</h1>
    <div>Liste Film</div>
    <% include ./partials/footer.ejs %>
</body>
</html>