<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Details Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<h1>Movies Details</h1>
<div>Détails Movies</div>
</body>
</html>