<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Listes des Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<h1>Movies</h1>
<div>Liste Film</div>
</body>
</html>