<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Details Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1>Détails</h1>
    <div>
        <%= movieId %>
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>